#about-section {
  @include flex;
  background: url("../../../public/logo_min_perspective.png") no-repeat;
  background-size: 105%;

  .container {
    @include flex(row, space-between);

    img {
      max-height: 300px;
      border-radius: 25px;
      box-shadow: $shadow;
    }

    #about-infos {
      @include flex(column, space-between, start);
      padding-left: 2rem;
    }

    .about-links {
      margin-top: 2rem;
      .btn {
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #about-section {
    background-size: 200%;
    background-position-y: 100%;

    .container {
      flex-direction: column;
    }

    img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 1rem;
    }

    #about-infos {
      padding: 0 !important;
    }
  }
}
