#contact-section {
  margin-top: 15rem;
  @include flex(column, start, center);

  span {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    cursor: pointer;
  }

  #info-copy {
    font-size: 0.8rem;
    color: rgb(91, 140, 90);
  }

  p {
    &:nth-child(n + 3) {
      margin-bottom: 0.6rem;
    }
  }
}

@media screen and (max-width: 768px) {
  #contact-section {
    margin-top: 0;
    margin-bottom: 3rem;
    min-height: auto;
  }
}
