footer {
  position: relative;
  @include flex(row, space-between);
  border-top: 1px solid $clr-primary;
  padding: 30px 10px;
  font-size: 0.8rem;

  &::before {
    @include flex;
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 90%;
    margin-left: 5%;
    background: $clr-secondary;
  }

  .logo {
    @include flex;
    gap: 0.8rem;

    img {
      height: 40px;
    }
  }

  .socials-links {
    @include flex;
    gap: 1rem;

    img {
      height: 30px;
    }
  }
}
