.section {
  min-height: 100vh;

  h2 {
    margin-bottom: 3rem;
  }
}

.btn {
  padding: 5px 15px;
  border-radius: 100px;
  font-variant: small-caps;

  &:hover {
    filter: brightness(3);
  }

  &-primary {
    background: $clr-secondary;
    color: $clr-primary;

    &:hover {
      filter: brightness(0.8);
    }
  }

  &-secondary {
    border: 3px solid $clr-secondary;
    color: $clr-secondary;
    // background: $clr-secondary;
  }
}
