h1 {
  font-size: 3rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: $ff-title;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: $ff-title;
}

h3 {
  font-size: 1.5rem;
  font-variant: small-caps;
}

h4 {
  font-size: 1.8rem;
  text-transform: capitalize;
}
