* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $clr-primary;
}

body {
  font-family: $ff-content;
  color: $clr-secondary;
  background: $clr-primary;
}

.container {
  width: 80%;
  margin: auto;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
