* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $clr-primary;
}

body {
  font-family: $ff-content;
  color: $clr-secondary;
  background: $clr-primary;
}
